<button (click)="cadastroHandler(cadastro)" value="cadastrar-evento"> Cadastrar Evento</button>
<div *ngIf=" cadastro === true ">
  <app-formulario-eventos [btnText]="btnText" (onSubmit)="createHandler($event)"></app-formulario-eventos>
</div>
<div class="search-container">
  <form>
    <fa-icon [icon]="faSearch"></fa-icon>
    <input
      type="text"
      placeholder="Buscar Evento"
      (input)="search($event)"
    />
  </form>
</div>
<div class="home-container">
  <h2>Lista de Eventos:</h2>

  <div *ngIf="eventos.length > 0; else semEventos">
    <div class="evento-conteiner">
      <div class="evento" *ngFor="let evento of eventos" >
          <table>
            <thead>
              <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Data de Início</th>
                <th>Data de Término</th>
                <th>Hora de Início</th>
                <th>Hora de Término</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{evento.nome}}</td>
                <td>{{evento.descricao}}</td>
                <td>{{evento.dataInicio | date : 'dd/MM/yyyy'}}</td>
                <td>{{evento.dataFim | date : 'dd/MM/yyyy'}}</td>
                <td>{{evento.horaInicio}}</td>
                <td>{{evento.horaFim}}</td>
                <td>
                  <button mat-button (click)="openPopUp(evento)"><mat-icon>photo</mat-icon></button>
                  <a mat-button routerLink="edit/{{evento._id}}"><mat-icon>edit</mat-icon></a>
                  <button mat-button (click)="removeHandler(evento._id)" ><mat-icon>delete</mat-icon></button>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
  <ng-template #semEventos>
    <h1>Não há evento cadastrado.</h1>
  </ng-template>
</div>





