<form (ngSubmit)="submit()" [formGroup]="fornecedorForm" #formDir="ngForm">

  <input type="hidden" formControlName="id">
  
  <div class="form-group" >
    <label for="nome">Nome:</label>
    <input  type="text" formControlName="nome" placeholder="Nome do fornecedor." required>
    <div *ngIf="nome.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="nome.errors?.['required']">O nome é obrigatório!</p>
      <p *ngIf="nome.errors?.['maxlenght']">Quantidade de caracteres inválida!</p>
    </div>
  </div>

  <div class="form-group">
    <label for="descricao">Descrição:</label>
    <textarea placeholder="Descrição do fornecedor." formControlName="descricao" required></textarea>
    <div *ngIf="descricao.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="descricao.errors?.['required']">A descrição é obrigatória!</p>
    </div>
  </div>

  <div class="form-group">
    <label for="foto">Imagem:</label>
    <input  type="text" formControlName="foto" placeholder="Insira a url da imagem." required>
    <div *ngIf="foto.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="foto.errors?.['required']">A url da imagem é obrigatória!</p>
    </div>
  </div>

  <input type="submit" value="{{btnText}}">

</form>

